@charset "utf-8";
/* CSS Document */
/*通用设置*/
*{
	margin:0px auto;
	padding:0px;
	font-size:12px;
	list-style:none;
	font-family: 宋体;
	color:#522a06;}
img{
   border:0px;}
body{
	padding: 0px;
	margin: 0px;
	background:url(../images/bodybg.gif)}
a{
	color:#522a06;
	text-decoration:none;}
a:hover{
	text-decoration:underline;}
li{
	list-style:none;
	margin:0px;
	padding:0px;}


#header{
	width:100%;
	height:205px;
	background-image:url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position:center;}
#logo{
	width: 1000px;
	height: 164px;
	float:left;
	margin-top:38px;
	margin-left:25px;}
